<h1>Create a Poll</h1>

<p>To create a poll just:</p>
  <ul>
    <li>Enter a title of the Poll e.g. "Best Soy Sauce Brand"</li>
    <li>Enter a hashtag of the Poll e.g. "bssb3000"</li>
    <li>Hit sumbit</li>
    <li>Copy the link</li>
    <li>Share with friends</li>
    <li>Happy Voting!</li>
  </ul>


<%= render 'form' %>

<%# link_to 'Back', polls_path , class: 'btn btn-default'%>
