<div class="Pollpopulous" ng-controller="mainController"  ng-init="init(<%= @candidates %>,<%= @poll_id %>)">
<div class="row">
  <div class="well">
    <h1><%= @title %></h1>
  </div>
  <div class="col">
    <form id="add_candidate_form" role="form">
      <div class="form-group">
        <label for="candidate_title">Option</label>
        <input type="text" class="form-control" id="candidate_title"  name="location" placeholder="Persian Pizza Prince">
      </div>
      <button type="submit" class="btn btn-default">Add new option</button>
    </form>
  </div>
  <form id="nickname_form" role="form">
    <div class="form-group">
      <label for="nickname">Name</label>
      <input type="text" class="form-control" id="nickname" name="nickname" placeholder="your name"  value="{{data.nickname}}">
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name:</th>
    <th>Votes:</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="option in data.candidates">
    <td>{{option.name}}</td>
    <td>{{option.votes.length}}</td>
    <td>
      <div class="btn-group">
        <a class="btn btn-primary vote" ng-click="vote(option.id)" >Vote here</a>
        <a class="btn btn-default" ng-click="revokeVote(option.id)" >Revoke Vote</a>
        <a class="btn btn-primary" ng-click="removeOption(option.id)" >Remove</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

</div>
