<div class="Pollpopulous" ng-controller="mainController"  ng-init="init(<%= @candidates %>,<%= @poll_id %>)">
<div class="row">
  <div class="well">
    <div class="row">
    <div class="col-md-2" class="chart-holder">
      <nvd3-pie-chart
      margin="{left:0,top:0,bottom:0,right:0}"
      tooltips="true"
      data="data.candidates"
      class="donut-chart"
      showLabels="false"
      x="xFunction()"
      y="yFunction()"
      width="200"
      height="200"
      donut="true"
      donutRatio=".3"
      donutLabelsOutside="false"
      labelType="percent"
      color="color()"
      defs="defs()"
      objectequality="true"
      transitionduration="500">
        <svg height="200" ></svg>
      </nvd3-pie-chart>


    </div>
      <div class="col-md-1">
        <h1><%= @title %></h1>
      </div>
    </div>
    <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
    <mm-alert-box></mm-alert-box>


    <!--<div class="chart-holder">

    </div>-->

  </div>
  <div class="col">
    <form id="add_candidate_form" role="form">
      <div class="form-group">
        <label for="candidate_title">Option</label>
        <input type="text" class="form-control" id="candidate_title"  ng-model="data.optionName" name="location" placeholder="Persian Pizza Prince">
      </div>
      <button type="submit"  class="btn btn-default" ng-click="addOption()"  >Add new option</button>
    </form>
  </div>
  <form id="nickname_form" role="form">
    <div class="form-group">
      <label for="nickname">Name</label>
      <input type="text" ng-disabled="{{data.knownSender}}" class="form-control" id="nickname" name="nickname" placeholder="your name"  ng-model="data.nickname">
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name:</th>
    <th>Votes:</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="option in data.candidates">
    <td>{{option.name}}</td>
    <td>{{option.votes.length}}</td>
    <td>
      <div class="btn-group">
        <a class="btn btn-primary vote" ng-click="vote(option.id)" >Vote here</a>
        <a class="btn btn-default" ng-click="revokeVote(option)" >Revoke Vote</a>
        <!--<a class="btn btn-primary" ng-click="removeOption(option.id)" >Remove</a>-->
      </div>
    </td>
  </tr>
  </tbody>
</table>
  <!--<nvd3-pie-chart
  data="exampleData"
  id="exampleId"
  margin="{left:0,top:0,bottom:0,right:0}"
  x="xFunction()"
  y="yFunction()"
  showLabels="true"
  pieLabelsOutside="false"
  showValues="true"
  labelType="percent">
    <svg></svg>
  </nvd3-pie-chart>
  <nvd3-pie-chart
  id="exampleId"
  data="exampleData"
  x="xFunction()"
  y="yFunction()"
  width="{{ width }}"
  height="{{ height }}"
  showLabels="true"
  pieLabelsOutside="false"
  showValues="true"
  labelType="percent">
    <svg></svg>
  </nvd3-pie-chart>

  http://4waisenkinder.de/blog/2013/09/28/using-gradient-and-shadows-with-d3-dot-js/

  http://www.fullscale.co/dangle/
  -->
  <fs-donut bind="data.candidates"  />

</div>
