@import '_mixins';

.donut-chart {
  @include box-shadow(3px, 3px, 10px, #666);
}

.redForegroundStop1 {
  stop-color: #fff4f3;
  stop-opacity: 1;
}
.redForegroundStop2 {
  stop-color: #ffbdb5;
  stop-opacity: 1;
}

.purpleBackgroundStop1 {
  stop-color: #c7cbf6;
  stop-opacity: 1;
}
.purpleBackgroundStop2 {
  stop-color: #a8aff1;
  stop-opacity: 1;
}



.nvtooltip {
  color: black;
}
.donut-chart svg {
  width:100px;
  height:100px;
}

.chart-holder {
  position:absolute;
}
.well {
  h1 {
    margin-top: 32px;
  }
}