<!--
http://api.giphy.com/v1/gifs/search?q=funny+cat&api_key=dc6zaTOxFJmzC


http://www.paulund.co.uk/create-polaroid-image-with-css?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed:+Paulundcouk+%28PaulUnd%29


<div class="polaroid-images">
	<a href="" title="Cave"><img height="200" src="images/water.jpg" alt="Cave" title="Cave" /></a>
	<a href="" title="Island"><img height="200" src="images/water2.jpg" alt="Island" title="Island" /></a>
	<a href="" title="Islands Forest"><img height="200" src="images/water3.jpg" alt="Islands Forest" title="Islands Forest" /></a>
	<a href="" title="Decking"><img height="200" src="images/water4.jpg" alt="Decking" title="Decking" /></a>
	<a href="" title="Lake"><img height="200" src="images/water5.jpg" alt="Lake" title="Lake" /></a>
	<a href="" title="Mountains"><img height="200" src="images/water6.jpg" alt="Mountains" title="Mountains" /></a>
	<a href="" title="Forest"><img height="200" src="images/water7.jpg" alt="Forest" title="Forest" /></a>
	<a href="" title="Coast Valley"><img height="200" src="images/water8.jpg" alt="Coast Valley" title="Coast Valley" /></a>
</div>
-->

<style>

    .giphy-container {
        max-width: 200px;
        float: right;
        height: 200px;
    }
    .polaroid-images a {
        font-family: fantasy;
    }
    .polaroid-images a
    {
        background: white;
        display: inline;
        float: left;
        margin: 0 15px 30px;
        padding: 10px 10px 25px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
        box-shadow: 0 4px 6px rgba(0,0,0,.3);
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        transition: all .15s linear;
        z-index:0;
        position:relative;


        /* rotation */
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    .polaroid-images a:after {
        color: #333;
        font-size: 20px;
        content: attr(title);
        position: relative;
        top:15px;
    }
    .polaroid-images img {
        display: block;
        width: inherit;
    }
    .polaroid-images a:nth-child(2n)
    {
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    .polaroid-images a:nth-child(3n) {
        -webkit-transform: rotate(-24deg);
        -moz-transform: rotate(-24deg);
        transform: rotate(-24deg);
    }
    .polaroid-images a:nth-child(4n)
    {
        -webkit-transform: rotate(14deg);
        -moz-transform: rotate(14deg);
        transform: rotate(14deg);
    }
    .polaroid-images a:nth-child(5n)
    {
        -webkit-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
    .polaroid-images a:hover{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);

        z-index:10;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
        -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
    }
</style>

<script>
    // TODO: put this into link function
    $(function() {
        var gifResults;
        var startCount=5;
        var setGif = function(url) {
            var img = new Image();
            img.onload = function(){
                var link=$('<a title="There\'ll be cats!">');

                $('.giphy-container').html('').append(link.append(img)[0]);

                startCount++;

                setTimeout(function () {
                    if (startCount>=gifResults.length) {
                        startCount=0;
                    }
                    console.log('next cat');
                    setGif(gifResults[startCount].images.downsized)
                },3000);

            };
            img.className+=" img-responsive";
            img.src = url.url;
        };

        $.get( "http://api.giphy.com/v1/gifs/search?q=funny+cats&api_key=dc6zaTOxFJmzC", function( data ) {
            var results = data.data;
            console.log(results);
            gifResults=results;
            setGif(results[5].images.downsized);
        });

    });
</script>


<div class="giphy-container polaroid-images">
    <h1>to be replaced</h1>
</div>

